@model DrinkUp.Models.ColdCoffee

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>ColdCoffee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ColdCoffeeID" />
            <div class="form-group">
                <label asp-for="ColdCoffeeType" class="control-label"></label>
                <input asp-for="ColdCoffeeType" class="form-control" />
                <span asp-validation-for="ColdCoffeeType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColdCoffeeName" class="control-label"></label>
                <input asp-for="ColdCoffeeName" class="form-control" />
                <span asp-validation-for="ColdCoffeeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Caffiene" /> @Html.DisplayNameFor(model => model.Caffiene)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
