@model DrinkUp.Models.ViewModels.TeaViewModel

@{
    ViewData["Title"] = "Tea Results";
    //grouping instructions
    //https://stackoverflow.com/questions/1160420/how-do-i-group-data-in-an-asp-net-mvc-viewhttps://stackoverflow.com/questions/1160420/how-do-i-group-data-in-an-asp-net-mvc-view
}
<h1>Tea Results</h1>
 

